:root {
  --primary-color: #000;
  --accent-color: #3b64bd;
  --background-color: #fff;
  --text-color: #333;
  --menu-bg-color: rgba(0, 0, 0, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
}

.header {
  top: 0;
  left: 0;
  width: 100%;
}

.navbarContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  text-decoration: none;
}

.logo {
  height: 40px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navList {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  list-style: none;
}

.navLink {
  text-decoration: none;
  color: var(--text-color);
  font-size: 19px;
  font-weight: 500;
  padding: 0.5rem;
  transition: color 0.3s ease;
}

.navLink:hover {
  text-decoration: underline;
}

.searchButton,
.joinButton {
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.searchButton {
  background-color: rgb(240, 237, 237);
  padding: 8px 16px;
  border-radius: 20px;
  color: var(--text-color);
  font-size: 19px;
}

.joinButton {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 19px;
  padding: 8px 16px;
  border-radius: 20px;
}

.joinButton:hover {
  background-color: var(--accent-color);
}

.searchButton:hover {
  background-color:rgb(214, 212, 212);
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background: none;
  border: none;
}

.hamburger span {
  width: 25px;
  height: 2px;
  background: var(--primary-color);
  border-radius: 5px;
}

.navOpen {
  position: absolute;
  top: 80px;
  right: 0;
  background-color: var(--menu-bg-color);
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
}

.navOpen .navList {
  flex-direction: column;
  padding: 10px;
}

.navOpen .navLink {
  color: white;
  padding: 1rem 0;
}

.navOpen .navLink:hover {
  color: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .navOpen {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .navbarContainer {
    padding: 0 10px;
  }

  .logo {
    height: 35px;
  }

  .joinButton {
    font-size: 14px;
    padding: 6px 12px;
  }
}
